.test-box {
  background-color:skyblue;
  background-image: url("https://i.pinimg.com/564x/d8/af/ae/d8afae71869f2fcd5961400c7ec73dcc.jpg");

}
.header{
color:purple;
}
.answer {
  color: purple;
  font-style: italic;
  }
.DefReset {
  color: purple;
  font-style: italic;
}
