.test-box {
  background-color:skyblue;
  background-image: url("https://i.pinimg.com/564x/b5/3d/af/b53daf2ac80928aaf1439eb67fd2df33.jpg");

}
.header{
color:purple;
}
.answer {
  color: purple;
  font-style: italic;
  }
.DefReset {
  color: purple;
  font-style: italic;
}
.input  {
  color: purple;
  font-style: italic;
}
